* {
    margin : 0px;
    padding : 0px;
    border: 1px solid black;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
}

.calculator-container {
    height: 590px;
    width: 400px;
}

button {
    height: 80px;
    width: 85px;
    margin: 5px;
    font-size: 40px;
}

#keyEqual {
    width: 180px;
    font-weight: 500;
}

#calculator-display {
    height: 100px;
    margin: 5px;
    padding: 10px;
    font-size: 50px;
    text-align: right;
    align-content: center;
}